{% extends "stockmanager/base.html" %} {% block content %} 
{% if user.is_authenticated %}
<div class="container">
  {% for item1, item2, item3, item4 in recommendedtable %} 
  {% if forloop.counter >= 1 %} {% if forloop.first %}
  <h5 class="mb-3">{{user}}'s Top Industry: {{ item3 }}</h5>
  {% endif %} {% endif %} {% endfor %}
  <div class="row mb-4">
    {% for item1, item2, item3, item4 in recommendedtable %}
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center font-weight-bold">
          <div>{{ item1 }}</div>
          <div>{{ item3 }}</div>
        </div>
        <div class="card-body carddetails text-center">
          <div>Current Price:</div>
          <div>{{ item2 }} USD</div>
          <br />
          <div>Security Score:</div>
          <div>{{ item4 }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    <h5 class="mb-3">Trending Top Scores</h5>
    <div class="row mb-4">
      {% for item1, item2, item3, item4, item5 in securitytable %}
      <div class="col-3">
        <div class="card">
          <div class="card-header text-center font-weight-bold">
            <div>{{ item2 }}</div>
            <div>{{ item5 }}</div>
          </div>
          <div class="card-body carddetails text-center">
            <div>Current Price:</div>
            <div>{{ item3 }} USD</div>
            <br />
            <div>Industry:</div>
            <div>{{ item4 }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  <h5 class="mb-3">Most Expensive Stocks</h5>
  <div class="row mb-4">
    {% for item1, item2, item3, item4, item5 in expensivetable %}
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center font-weight-bold">
          <div>{{ item2 }}</div>
          <div>{{ item3 }} USD</div>
        </div>
        <div class="card-body carddetails text-center">
          <div>Industry:</div>
          <div>{{ item4 }}</div>
          <br />
          <div>Security Score:</div>
          <div>{{ item5 }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h5 class="mb-3">Most Cheap Stocks</h5>
  <div class="row mb-4">
    {% for item1, item2, item3, item4, item5 in cheaptable %}
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center font-weight-bold">
          <div>{{ item2 }}</div>
          <div>{{ item3 }} USD</div>
        </div>
        <div class="card-body carddetails text-center">
          <div>Industry:</div>
          <div>{{ item4 }}</div>
          <br />
          <div>Security Score:</div>
          <div>{{ item5 }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
