{% extends 'stockmanager/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
            <div class="card-body">
            <h5 class="mb-2 text-center">Change Password</h5>
            <div style="font-size: 13px;">
              <form method="post" novalidate>
                {% csrf_token %} {{ form|crispy }}
                <br>
                <div class="text-center">
                <button type="submit" class="btn mb-2 col-12">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}