{% extends 'stockmanager/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
            <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="mb-4 mt-4">BRRRRRRRR</h2>
                </div>
                <div class="card-body text-center">
                <h5 class="mb-2">RESET YOUR PASSWORD</h5>
                <p style="font-size: 13px;">We've emailed you instructions for setting your password, if an account exists with the email you entered. You shouuld receive them shortly.</p>
                <p style="font-size: 13px;">If you don't receive an email, please make sure you have entered the right address you registered with, and check your spam folder.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}