{% extends 'stockmanager/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h2 class="mb-4 mt-4">BRRRRRRRR</h2>
            </div>
          <div class="card-body">
            <h5 class="mb-2 text-center">RESET YOUR PASSWORD</h5>
            <div style="font-size: 13px;">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                <button type="submit" class="btn btn-block">Send Confirmation Link</button>
                </div>
            </form>
            </div>
            <footer class="blockquote-footer text-center">
                <p style="font-size: 12px;">Remember Password? <a href="{% url 'login' %}" class="btn-link"
                  >Return To Login.</p>
                </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}