{% extends 'stockmanager/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h2 class="mb-4 mt-4">BRRRRRRRR</h2>
            </div>
          <div class="card-body">
            <h5 class="mb-2 text-center">SET NEW PASSWORD</h5>
            {% if validlink %}
            <div style="font-size: 13px;">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-block">Save</button>
                </div>
            </form>
            {% else %}
            <div class="text-center" style="font-size: 13px;">
              <p style="color:red;">Invalid token.</p>
              <p>
                  <a href="{% url 'password_reset' %}">Request a new password reset token.</a>
              </p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}