{% extends 'stockmanager/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
            <h2 class="mb-4 mt-4">BRRRRRRRR</h2>
        </div>
        <div class="card-body">
          <div class="text-center">
            <h5 class="mb-2">SIGNUP</h5>
          </div>
          <div style="font-size: 13px;">
            <form method="post" novalidate>
              {% csrf_token %} {{ form|crispy }}
              <div class="text-center">
              <button type="submit" class="btn mb-2 btn-block">Create An Account</button>
              <footer class="blockquote-footer">
                <p style="font-size: 12px;">Already Have An Account? <a href="{% url 'login' %}" class="btn-link"
                  >Login Here.</p>
                </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}